<div class="container is-max-desktop mb-5">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="media">
            <div class="media-left is-flex">
              <figure class="image is-128x128">
                <img
                  class="is-rounded"
                  src="{{browsedUser.image}}"
                  alt="profile image"
                />
              </figure>
            </div>
            <div class="media-content is-align-self-center">
              <p class="title is-4">{{browsedUser.userName}}</p>
              <p>User rating: {{browsedUser.rating}}</p>
            </div>
            {{{profileEditIcon user.id browsedUser._id}}}
          </div>
        </div>
        <div class="column">
          <p>{{browsedUser.bio}}</p>
        </div>
      </div>
      <div class="tabs is-centered">
        <ul>
          <li class="is-active"><a>Posts</a></li>
          <li><a>Comments</a></li>
          <li><a>Friends</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container is-max-desktop">
  {{#if posts}}
    {{{populateProfilePosts posts}}}
  {{else}}
    <p>No posts yet</p>
  {{/if}}
</div>