<div class="container is-max-desktop mb-5">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="media">
            <div class="media-left is-flex">
              <figure class="image is-128x128">
                <img
                  class="is-rounded"
                  src="{{browsedUser.image}}"
                  alt="profile image"
                />
              </figure>
            </div>
            <div class="media-content is-align-self-center">
              <p class="title is-4">{{browsedUser.userName}}</p>
              <p>User rating: {{browsedUser.rating}}</p>
            </div>
            {{{profileEditIcon user.id browsedUser._id}}}
          </div>
        </div>
        <div class="column">
          <aside class="menu box">
            <ul class="menu-list">
              <li class="mb-1"><a>Posts</a></li>
              <li class="mb-1"><a>Comments</a></li>
            </ul>
          </aside>
        </div>
      </div>
      <div class="content">
        {{#if browsedUser.bio}}
          {{browsedUser.bio}}
        {{else}}
          <p>The user has not specified anything about himself yet.</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{! need helper like

module.exports = {
  populatePosts: function (posts) {
    let result = '';

    for (let i = 0, j = 0; i < posts.length; i++, j++) {
      let postBody = posts[i];
      if (j % 2 === 0) {
        result +=  `<div class="tile is-ancestor">
                      <div class="tile is-parent is-6">
                        <div class="tile box is-child">${postBody}</div>
                      </div>`
      } else {
        result +=  `  <div class="tile is-parent is-6">
                        <div class="tile box is-child">${postBody}</div>
                      </div>
                    </div>`;
      }
    }
    if (posts.length % 2 === 1) {
      result += "</div>"
    }
    return result;
  }
}
}}

<div class="container is-max-desktop">
  {{!#if posts}}
  {{! populatePosts posts }}
  {{!#each posts}}
  <div class="tile is-ancestor">
    <div class="tile is-parent is-6">
      <div class="tile box is-child">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ipsa veritatis iste aut officiis, porro voluptate.</div>
    </div>
    <div class="tile is-parent is-6">
      <div class="tile box is-child">Delectus veritatis unde minus eveniet,
        maxime alias consequatur itaque non hic. Voluptatum excepturi recusandae
        enim?</div>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-6">
      <div class="tile box is-child">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ipsa veritatis iste aut officiis, porro voluptate.</div>
    </div>
    <div class="tile is-parent is-6">
      <div class="tile box is-child">Vitae eveniet at laboriosam quaerat a saepe
        provident? Vero, dolores labore nulla Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Accusamus, et! rem maxime sit.</div>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-6">
      <div class="tile box is-child">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ipsa veritatis iste aut officiis, porro voluptate.</div>
    </div>
  </div>
  {{!/each}}
  {{!/if}}
</div>