<div class="container is-max-desktop is-align-self-center">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="section box">
        <form
          action="/profile/{{user.id}}?_method=PUT"
          method="post"
          enctype="multipart/form-data"
        >

          <div class="field">
            <div class="media">
              <div class="media-left is-flex">
                <figure class="image is-128x128">
                  <img
                    class="is-rounded"
                    src="{{user.image}}"
                    alt="profile image"
                  />
                </figure>
              </div>
              <div class="media-content is-align-self-center">
                <div class="file is-justify-content-space-around">
                  <label class="file-label">
                    <input class="file-input" type="file" name="image" />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Choose image
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Username: {{user.name}}</label>
            <div class="control has-icons-left">
              <input
                class="input"
                type="text"
                placeholder="New username"
                name="userName"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">
              <p>Bio:</p>
              <p>{{user.bio}}</p>
            </label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="New bio"
                name="bio"
              ></textarea>
            </div>
          </div>
          <div class="box message is-danger has-text-centered">
            <a
              class="button is-danger"
              href="/profile/passwordChange/{{user.id}}"
            >
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-solid fa-key"></i>
                </span>
                <span>Change password (not working yet)</span>
              </span>
            </a>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link is-fullwidth">Submit changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>