<div class="container is-max-desktop mb-5">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="media">
            <div class="media-left is-flex is-relative has-hidden">
              {{#if isOwnProfile}}
                <div class="is-top-right-position is-toggle-hidden">
                  <a class="button is-white is-small is-rounded" href="/profile/settings/{{loggedUser.id}}" title="Edit profile">
                    <span class="icon has-text-dark">
                      <i class="fa-solid fa-gears fa-xl"></i>
                    </span>
                  </a>
                </div>
              {{else}}
                {{#if isFriend}}
                  {{> _removeFriendBtn}}
                {{else}}
                  {{#if hasOppositeRequest}}
                    {{> _acceptFriendBtn}}
                    {{> _rejectFriendBtn}}
                  {{else}}
                    {{#if hasRequest}}
                      {{> _cancelFriendBtn}}
                    {{else}}
                      {{> _sendFriendBtn}}
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/if}}
              <figure class="image is-128x128">
                <img
                  class="is-rounded"
                  src="{{browsedUser.image}}"
                  alt="profile image"
                />
              </figure>
            </div>
            <div class="media-content is-align-self-center">
              <p class="title is-4">{{browsedUser.userName}}</p>
              <p>User rating: <span id="userRating">{{browsedUser.rating}}</span></p>
            </div>
          </div>
        </div>
        <div class="column">
          <p>{{browsedUser.bio}}</p>
        </div>
      </div>
      <div class="tabs is-centered">
        <ul>
          <li class="is-active js-tab-trigger" data-tab="posts"><a>Posts</a></li>
          {{#if isOwnProfile}}
            <li class="js-tab-trigger" data-tab="comments"><a>Comments</a></li>
            <li class="js-tab-trigger" data-tab="friends"><a>Friends</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container is-max-desktop">
  <div id="posts" class="tab">
    <div class="columns is-multiline is-desktop">
      {{#if posts}}
        {{#each posts as |post|}}
          <div class="column is-half-desktop">
            <div class="box is-relative">
              <article class="media is-align-items-stretch">
                <figure class="media-left">
                  <p class="image is-128x128">
                    <a href="/post/{{_id}}"><img src="{{image}}" /></a>
                  </p>
                </figure>
                <div
                  class="media-content is-flex is-flex-direction-column is-justify-content-space-between is-cropped"
                >
                  <a href="/post/{{_id}}">
                    <div class="content">
                      <h3
                        class="title is-5 is-cropped"
                      >{{title}}</h3>
                      <p class="subtitle is-6 is-cropped">{{caption}}</p>
                      <p class="is-size-7 is-inline-block has-text-grey-light">{{dateToLocale createdAt ../loggedUser.language}}</p>
                    </div>
                  </a>
                  <footer class="is-flex is-justify-content-space-between">
                    {{!-- <div class="icon-text">
                      <span class="icon has-text-grey-light">
                        <i class="fa-regular fa-eye fa-lg"></i>
                      </span>
                      <span class="has-text-grey">{{views}}</span>
                    </div> --}}
                    <div>
                      <span class="icon-text" title="Comments number">
                        <span class="icon has-text-grey-light">
                          <i class="fa-regular p-1 fa-comment fa-lg"></i>
                        </span>
                        <span class="has-text-grey">{{comments}}</span>
                      </span>
                    </div>
                    <div>
                      {{!-- <a class="pr-1" href="">
                        <span class="icon has-text-dark">
                          <i class="fa-solid fa-share-nodes fa-lg"></i>
                        </span>
                      </a> --}}
                      <span class="pr-1 is-clickable">
                        <span data-post-id="{{_id}}"
                          class="bookmark icon
                          {{#if isBookmarked}}
                            has-text-success
                          {{else}}
                            has-text-dark
                          {{/if}}"
                          title="Bookmark">
                          <i class="fa-regular fa-bookmark fa-lg"></i>
                        </span>
                      </span>
                      {{> _likeIcon}}
                    </div>
                  </footer>
                </div>
              </article>
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="column">
          <p class="box">No posts yet</p>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if isOwnProfile}}
    <div id="comments" class="tab is-hidden columns is-multiline is-desktop">
      {{> _comments}}
    </div>
    <div id="friends" class="tab is-hidden columns is-multiline is-desktop">
      {{#each oppositeRequests as |oppositeRequest|}}
        <div class="column is-half-desktop">
          <div class="box">
            <article class="media is-not-centered has-hidden">
              <figure class="media-left mr-2">
                <div class="image is-48x48">
                  <a href="/profile/{{_id}}">
                    <img
                      class="is-rounded"
                        src="{{oppositeRequest.image}}"
                        alt="{{userName}}'s avatar"
                    />
                  </a>
                </div>
              </figure>
              <div class="media-content">
                <a class="has-text-dark" href="/profile/{{_id}}">
                  <p class="title is-6 is-clipped is-inline-block">{{userName}}</p>
                </a>
                <div class="content">
                  <p class="has-text-break-overflow">
                    {{bio}}
                  </p>
                </div>
              </div>
              {{> _rejectFriendBtn}}
              {{> _acceptFriendBtn}}
            </article>
          </div>
        </div>
      {{/each}}
      {{#each friends as |friend|}}
        <div class="column is-half-desktop">
          <div class="box">
            <article class="media is-not-centered has-hidden">
              <figure class="media-left mr-2">
                <div class="image is-48x48">
                  <a href="/profile/{{_id}}">
                    <img
                      class="is-rounded"
                        src="{{image}}"
                        alt="{{userName}}'s avatar"
                    />
                  </a>
                </div>
              </figure>
              <div class="media-content">
                <a class="has-text-dark" href="/profile/{{_id}}">
                  <p class="title is-6 is-clipped is-inline-block">{{userName}}</p>
                </a>
                <div class="content">
                  <p class="has-text-break-overflow">
                    {{bio}}
                  </p>
                </div>
              </div>
              {{> _removeFriendBtn}}
            </article>
          </div>
        </div>
      {{/each}}
      {{#each requests as |request|}}
        <div class="column is-half-desktop">
          <div class="box">
            <article class="media is-not-centered has-hidden">
              <figure class="media-left mr-2">
                <div class="image is-48x48">
                  <a href="/profile/{{_id}}">
                    <img
                      class="is-rounded"
                        src="{{image}}"
                        alt="{{userName}}'s avatar"
                    />
                  </a>
                </div>
              </figure>
              <div class="media-content">
                <a class="has-text-dark" href="/profile/{{_id}}">
                  <p class="title is-6 is-clipped is-inline-block">{{userName}}</p>
                </a>
                <div class="content">
                  <p class="has-text-break-overflow">
                    {{bio}}
                  </p>
                </div>
              </div>
              {{> _cancelFriendBtn}}
            </article>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>