{{#each comments as |comment|}}
{{#if ../isOwnProfile}}
  <div class="column is-half-desktop">
    <div class="box">
{{/if}}
{{#unless deleted}}
  <article class="is-not-centered media is-relative has-hidden">
    <figure class="media-left mr-2">
      <p class="image is-24x24">
        <a class="has-text-dark" href="/profile/{{user._id}}">
          <img
            class="is-rounded"
              src="{{user.image}}"
              alt="{{user.userName}}'s avatar"
          />
        </a>
      </p>
    </figure>

    <div class="media-content">
      <div class="is-relative has-hidden">
        {{#if isOwnComment}}
          <div class="is-top-right-position is-toggle-hidden">
            <form action="/comment/{{_id}}?_method=PUT" method="post">
              <button class="button is-danger is-small" type="submit">
                <span class="icon">
                  <i class="fa-regular fa-trash-can"></i>
                </span>
              </button>
            </form>
          </div>
        {{/if}}
        <a class="has-text-dark" href="/profile/{{user._id}}">
          <p class="title is-6 is-clipped is-inline-block">{{user.userName}}</p>
        </a>
        {{#if ../isOwnProfile}}
          <a class="has-text-dark title is-6" href="/post/{{post._id}}">
            <p class="title is-6 is-clipped is-inline-block">in {{post.title}}</p>
          </a>
        {{/if}}
        <p class="is-size-7 is-inline-block has-text-grey-light is-pulled-right">{{dateToLocale createdAt ../loggedUser.language}}</p>
        <div class="content">
          <p class="has-text-break-overflow">
            {{content}}
          </p>

        </div>

        <nav class="level is-mobile mb-0">
          <div class="level-left">
            {{#unless ../isOwnProfile}}
              <button
                class="reply button is-white is-small is-rounded has-text-weight-semibold icon-text is-unselectable"
                data-post-id="{{../post._id}}"
                data-comment-id="{{_id}}"
                data-logged-user-id="{{../loggedUser.id}}"
                data-logged-user-image="{{../loggedUser.image}}"
                data-logged-user-name="{{../loggedUser.name}}">
                <span class="is-size-7 is-line-height-1-3em">reply</span>
                <span class="icon has-text-dark">
                  <i class="fa-regular fa-comment-dots fa-sm"></i>
                </span>
              </button>
            {{else}}
              {{#if replies}}
                <span class="is-size-7 has-text-grey">Replies: {{replies}}</span>
              {{/if}}
            {{/unless}}
            </div>
            <div class="level-right">
              {{> _likeCommentIcon}}
            </div>
        </nav>

        <div id="{{_id}}"></div>
      </div>
      {{#unless ../isOwnProfile}}
      {{#if replies}}
        <button
          class="comment-branch-btn button is-white is-small is-rounded icon-text has-color-link"
          data-parent-id="{{_id}}"
          data-post-id="{{../post._id}}">
          <span class="icon">
            <i class="fa-solid fa-angles-down"></i>
          </span>
          <span class="is-size-7 is-line-height-1-3em">View replies ({{replies}})</span>
        </button>
        <div class="comment-branch-container"></div>
      {{/if}}
      {{/unless}}

    </div>

  </article>
{{else}}
  {{#if replies}}
    <article class="is-not-centered media is-relative has-hidden">
      <figure class="media-left mr-2">
        <p class="image is-24x24">
          <a class="has-text-dark" href="/profile/{{user._id}}">
            <img
              class="is-rounded"
                src="{{user.image}}"
                alt="{{user.userName}}'s avatar"
            />
          </a>
        </p>
      </figure>

      <div class="media-content">
        <div class="is-relative has-hidden">
          <a class="has-text-dark" href="/profile/{{user._id}}">
            <p class="title is-6 is-clipped is-inline-block">{{user.userName}}</p>
          </a>
          <p class="is-size-7 is-inline-block has-text-grey-light is-pulled-right">{{dateToLocale createdAt ../loggedUser.language}}</p>
          <div class="content">
            <p class="is-italic has-text-grey">
              Comment was deleted
            </p
          </div>

          <nav class="level is-mobile mb-0">
            <div class="level-left">
              <button
                class="reply button is-white is-small is-rounded has-text-weight-semibold icon-text is-unselectable"
                data-post-id="{{../post._id}}"
                data-comment-id="{{_id}}"
                data-logged-user-id="{{../loggedUser.id}}"
                data-logged-user-image="{{../loggedUser.image}}"
                data-logged-user-name="{{../loggedUser.name}}">
                <span class="is-size-7 is-line-height-1-3em">reply</span>
                <span class="icon has-text-dark">
                  <i class="fa-regular fa-comment-dots fa-sm"></i>
                </span>
              </button>
            </div>
              <div class="level-right">
                {{> _likeCommentIcon}}
              </div>
          </nav>

          <div id="{{_id}}"></div>
        </div>
          <button
            class="comment-branch-btn button is-white is-small is-rounded icon-text has-color-link"
            data-parent-id="{{_id}}"
            data-post-id="{{../post._id}}">
            <span class="icon">
              <i class="fa-solid fa-angles-down"></i>
            </span>
            <span class="is-size-7 is-line-height-1-3em">View replies ({{replies}})</span>
          </button>
          <div class="comment-branch-container"></div>

      </div>

    </article>
  {{/if}}
{{/unless}}
  {{#if ../isOwnProfile}}
      </div>
    </div>
  {{/if}}
{{/each}}