{{#unless deleted}}
  {{#if isOwnComment}}
    <span class="icon-text" title="Like">
      <span class="icon has-text-grey-light">
        <i class="fa-regular fa-star"></i>
      </span>
      <span class="has-text-grey">{{likes}}</span>
    </span>
  {{else}}
    <span class="icon-text" title="Like">
      <span
        class="like icon is-clickable has-text-{{#if hasLike}}warning{{else}}dark{{/if}}"
        data-comment-id="{{_id}}"
        data-is-comment-like="true"
      >
        <i class="fa-regular fa-star"></i>
      </span>
      <span class="likeCounter has-text-grey">{{likes}}</span>
    </span>
  {{/if}}
{{/unless}}