<div class="container is-max-desktop">
  <div class="columns is-multiline">
    {{#each posts as |post|}}
      <div class="column is-one-third">
        <article class="card box">
          <p class="title is-6">{{post.title}}</p>
          <div class="card-image">
            <figure class="image is-square">
              <a href="/post/{{post.id}}"><img
                  src="{{post.image}}"
                  alt="{{post.title}} image"
                /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p>{{post.caption}}</p>
            </div>
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://res.cloudinary.com/dqgpoeydj/image/upload/v1665583773/no-image_g3rf5e.jpg"
                    alt="user avatar"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6">{{post.user.userName}}</p>
              </div>
            </div>
          </div>
        </article>
      </div>
    {{/each}}
  </div>
</div>