<div class="container is-max-desktop">
  <div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-half-desktop">
      <form
        class="box block"
        method="POST"
        {{#if isEdit}}
          action="/post/{{post._id}}?_method=PUT"
        {{else}}
          action="/post/add"
          enctype="multipart/form-data"
        {{/if}}
      >
        <div class="field">
          {{#if isEdit}}
            <label class="label" for="title">Title: {{post.title}}</label>
          {{/if}}
          <div class="control has-icons-left">
            <input
              id="title"
              class="input"
              type="text"
              placeholder="Title"
              name="title"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-book-open"></i>
            </span>
          </div>
        </div>

        {{#if isEdit}}
          <figure class="image is-square">
            <img src="{{post.image}}" alt="{{post.title}} image" />
          </figure>
        {{else}}
          <div class="field">
            <figure class="image is-square">
              <img src="/img/no-post-image.jpg" alt="" />
            </figure>
            <div class="control">
              <div class="file is-boxed is-fullwidth has-text-centered">
                <label class="file-label">
                  <input class="file-input" type="file" name="image" />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload image
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        {{/if}}

        <div class="field">
          {{#if isEdit}}
            <label class="label" for="caption">Caption: {{post.caption}}</label>
          {{/if}}
          <div class="control has-icons-left">
            <textarea
              id="caption"
              class="textarea"
              name="caption"
              placeholder="Caption"
              rows="3"
            ></textarea>
          </div>
        </div>

        {{#unless isEdit}}
          <div class="control box has-text-centered">
            <p>Check who can see your post</p>
            <label class="radio">
              <input type="radio" name="status" value="public" checked />
              Anyone
            </label>
            <label class="radio">
              <input type="radio" name="status" value="private" />
              Only you
            </label>
            <label class="radio">
              <input type="radio" name="status" value="friends" />
              Just you and your friends
            </label>
          </div>
        {{/unless}}

        <div class="field">
          <div class="control">
            <button
              class="button is-link is-fullwidth"
              type="submit"
            >Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>