<div class="container is-max-desktop">
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="message is-danger">
        <div class="message-body has-text-centered">
          <p>Do you really want to delete this post?</p>
          <form action="/post/delete/{{post._id}}?_method=PUT" method="post">
            <button class="button is-danger" type="submit">Yes, delete</button>
          </form>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="columns">
    <div class="column">
      <article class="box">
        <h1 class="title">{{post.title}}</h1>
        <h2 class="subtitle">
          <a class="has-text-dark" href="/profile/{{post.user._id}}">
            <div class="media mb-1">
              <div class="media-left">
                <figure class="image is-24x24">
                  <img
                    class="is-rounded"
                    src="{{post.user.image}}"
                    alt="{{post.user.userName}}'s avatar"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6 is-clipped">{{post.user.userName}}</p>
              </div>
            </div>
          </a>
        </h2>
        <figure class="image is-square mb-5 is-relative">
          {{{postDeleteButton loggedUser.id post.user._id}}}
          {{{postEditButton loggedUser.id post.user._id post._id}}}
          <img src="{{post.image}}" alt="{{post.title}} image" />
        </figure>
        <div class="is-size-5 content">
          <p>{{post.caption}}</p>
        </div>
        <footer class="is-flex is-justify-content-space-between">
          <div class="icon-text">
            <span class="icon has-text-grey">
              <i class="fa-regular fa-eye fa-lg"></i>
            </span>
            <span>{{post.views}}</span>
          </div>
          <div class="icon">
            <span class="icon has-text-grey">
              <i class="fa-regular fa-comment fa-lg"></i>
            </span>
          </div>
          <div>
            <a class="pr-1" href="">
              <span class="icon has-text-dark">
                <i class="fa-solid fa-share-nodes fa-lg"></i>
              </span>
            </a>
            <a class="pr-1" href="">
              <span class="icon has-text-dark">
                <i class="fa-regular fa-bookmark fa-lg"></i>
              </span>
            </a>
            <a href="" class="icon-text">
              <span class="icon has-text-dark">
                <i class="fa-regular fa-star fa-lg"></i>
              </span>
              <span>{{post.likes}}</span>
            </a>
          </div>
        </footer>
      </article>
    </div>
    <div class="column is-half-tablet is-half-desktop is-one-third-fullhd">
      <div class="box">
        <h3 class="title is-size-4">Comments</h3>
      </div>
    </div>
  </div>
</div>