<div class="container is-max-widescreen">
  <div id="modal-delete-message" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="message is-danger">
        <div class="message-body has-text-centered">
          <div class="content">
            <p class="has-text-weight-semibold">Delete this post?</p>
            <form action="/post/delete/{{post._id}}?_method=PUT" method="post">
              <button class="button is-danger" type="submit">Yes, delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="columns">
    <div class="column">
      <article class="box">
        <h2 class="subtitle">
          <div class="is-not-centered media mb-1">
            <div class="media-left mr-2">
              <figure class="image is-24x24">
                 <a class="has-text-dark" href="/profile/{{post.user._id}}">
                  <img
                    class="is-rounded"
                    src="{{post.user.image}}"
                    alt="{{post.user.userName}}'s avatar"
                  />
                </a>
               </figure>
            </div>
            <div class="media-content">
              <a class="has-text-dark title is-6 is-clipped is-inline-block" href="/profile/{{post.user._id}}">
                {{post.user.userName}}
              </a>
            </div>
            </div>
        </h2>
        <h1 class="title">{{post.title}}</h1>
        <figure class="image is-square mb-5 is-relative has-hidden">
          {{{postDeleteButton loggedUser.id post.user._id}}}
          {{{postEditButton loggedUser.id post.user._id post._id}}}
          <img src="{{post.image}}" alt="{{post.title}} image" />
        </figure>
        <div class="is-size-5 content">
          <p>{{post.caption}}</p>
        </div>
        <footer class="is-flex is-justify-content-space-between">
          <div class="icon-text">
            <span class="icon has-text-grey">
              <i class="fa-regular fa-eye fa-lg"></i>
            </span>
            <span>{{post.views}}</span>
          </div>
          <div class="icon">
            <span class="icon has-text-grey">
              <i class="fa-regular fa-comment fa-lg"></i>
            </span>
          </div>
          <div>
            <span class="pr-1 share is-clickable">
              <span class="icon has-text-dark">
                <i class="fa-solid fa-share-nodes fa-lg"></i>
              </span>
            </span>
            <span class="pr-1 is-clickable">
              <span data-post-id="{{post._id}}"
                class="bookmark icon
              {{#if isBookmarked}}
                has-text-success
              {{else}}
                has-text-dark
              {{/if}}">
                <i class="fa-regular fa-bookmark fa-lg"></i>
              </span>
            </span>
            {{{likeIcon loggedUser.id post.user._id hasLike post._id post.likes}}}
          </div>
        </footer>
      </article>
    </div>
    <div class="column is-half">
      <div class="box">
        <h3 class="title is-size-4">Comments</h3>
        <section id="commentSection">

          {{#if comments}}
            {{> _comments}}
          {{/if}}

          <article class="is-not-centered media">
            <figure class="media-left mr-2">
              <p class="image is-24x24">
                <a class="has-text-dark" href="/profile/{{post.user._id}}">
                  <img
                    class="is-rounded"
                    src="{{loggedUser.image}}"
                    alt="{{loggedUser.name}}'s avatar"
                  />
                </a>
              </p>
            </figure>
            <div class="media-content">
              <a class="has-text-dark" href="/profile/{{loggedUser.id}}">
                <p class="title is-6 is-clipped is-inline-block">{{loggedUser.name}}</p>
              </a>
              <form action="/comment" method="POST" name="rootCommentForm" class="is-flex">
                <input type="hidden" name="post" value="{{post._id}}">
                <div class="field is-flex-grow-1 mb-0">
                  <p class="control">
                    <textarea
                      class="textarea"
                      placeholder="Add a comment..."
                      rows="1"
                      required
                      name="content"
                    ></textarea>
                  </p>
                </div>
                <div class="field is-align-self-flex-end">
                  <p class="control">
                    <button class="button is-small ml-1" type="submit">Post</button>
                  </p>
                </div>
              </form>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>